body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{
    font-size: 50px   
}
.Peter-Griffin{color: darkorange;
}
section{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    padding: 10%;
}
.link-button{
    text-decoration: none;
    background-image:linear-gradient(rgb(255, 81, 0), tomato);
    color: white;
    font-weight: 700;
    padding border-radius: 10px 50px;
    }
    .top-banner{
        background-image: url(images/top-banner.png);
        background-repeat: no-repeat;
        
    }
    .dream-big{
        background-image: url(images/dream-bg.png);
        background-repeat: no-repeat;
        background-position: right;
    }

